<!-- Landing page ie Home page -->
<div class="container text-center mt-5">
    <h1>Welcome to the GMU Survey Application</h1>
    <div class="mt-4">
      <a routerLink="/survey-form" class="btn btn-success m-2">Student Survey</a>
      <a routerLink="/survey-list" class="btn btn-primary m-2">List All Surveys</a>
    </div>
  </div>

<footer class="footer mt-4 bg-green text-white text-center p-3">
    <span>&copy; Chaitanya Chaudhari | Yash Dayma | Prathmesh Bachhav | Gitesh Ahirrao | 2025</span>
</footer>